In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
from sqlalchemy import create_engine

In [3]:
json = pd.read_json("samples.json")
json.head()

,names,metadata,samples
0,940,"{'id': 940, 'ethnicity': 'Caucasian', 'gender'...","{'id': '940', 'otu_ids': [1167, 2859, 482, 226..."
1,941,"{'id': 941, 'ethnicity': 'Caucasian/Midleaster...","{'id': '941', 'otu_ids': [2722, 944, 2419, 253..."
2,943,"{'id': 943, 'ethnicity': 'Caucasian', 'gender'...","{'id': '943', 'otu_ids': [1795], 'sample_value..."
3,944,"{'id': 944, 'ethnicity': 'European', 'gender':...","{'id': '944', 'otu_ids': [922, 3555, 943, 1013..."
4,945,"{'id': 945, 'ethnicity': 'Caucasian', 'gender'...","{'id': '945', 'otu_ids': [944, 1795, 922, 2419..."

In [11]:
dataTypeDict = dict(json.dtypes)
print('Data type of each column of Dataframe :')
print(dataTypeDict)

Data type of each column of Dataframe :
{'names': dtype('int64'), 'metadata': dtype('O'), 'samples': dtype('O')}

In [24]:
rds_connection_string = "postgres:pass@localhost:5432/bacteria_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [25]:
engine.table_names()

['bacteria']

In [26]:
json.to_sql(name='bacteria', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.ProgrammingError) can't adapt type 'dict'
[SQL: INSERT INTO bacteria (names, metadata, samples) VALUES (%(names)s, %(metadata)s, %(samples)s)]
[parameters: ({'names': 940, 'metadata': {'id': 940, 'ethnicity': 'Caucasian', 'gender': 'F', 'age': 24.0, 'location': 'Beaufort/NC', 'bbtype': 'I', 'wfreq': 2.0}, 'samples': {'id': '940', 'otu_ids': [1167, 2859, 482, 2264, 41, 1189, 352, 189, 2318, 1977, 3450, 874, 1959, 2191, 1950, 2077, 2275, 944, 2184, 2244, 2024, 2419, ... (4803 characters truncated) ... , 'Bacteria', 'Bacteria;Firmicutes;Clostridia;Clostridiales', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria', 'Bacteria']}}, {'names': 941, 'metadata': {'id': 941, 'ethnicity': 'Caucasian/Midleastern', 'gender': 'F', 'age': 34.0, 'location': 'Chicago/IL', 'bbtype': 'I', 'wfreq': 1.0}, 'samples': {'id': '941', 'otu_ids': [2722, 944, 2419, 2539, 3450, 1795, 2389, 1314, 922, 1167, 2859, 963, 2964, 2651, 2308, 482, 874, 2908, 1870, 2264, 41, 728,  ... (3078 characters truncated) ... ria;Actinobacteria;Actinomycetales;Corynebacteriaceae;Corynebacterium', 'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Prevotellaceae;Prevotella']}}, {'names': 943, 'metadata': {'id': 943, 'ethnicity': 'Caucasian', 'gender': 'F', 'age': 49.0, 'location': 'Omaha/NE', 'bbtype': 'I', 'wfreq': 1.0}, 'samples': {'id': '943', 'otu_ids': [1795], 'sample_values': [2], 'otu_labels': ['Bacteria;Firmicutes;Bacilli;Bacillales;Staphylococcaceae;Staphylococcus']}}, {'names': 944, 'metadata': {'id': 944, 'ethnicity': 'European', 'gender': 'M', 'age': 44.0, 'location': 'NewHaven/CT', 'bbtype': 'I', 'wfreq': 1.0}, 'samples': {'id': '944', 'otu_ids': [922, 3555, 943, 1013, 1795, 944, 3368, 923, 1770, 3516, 3120, 3541, 2308, 3527, 3312, 41, 1929, 2651, 2937, 2722, 728, 2130, ... (2188 characters truncated) ... ;Actinobacteria;Actinobacteria;Actinomycetales;Nocardioidaceae', 'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Dermacoccaceae;Dermacoccus']}}, {'names': 945, 'metadata': {'id': 945, 'ethnicity': 'Caucasian', 'gender': 'F', 'age': 48.0, 'location': 'Philidelphia/PA', 'bbtype': 'I', 'wfreq': 1.0}, 'samples': {'id': '945', 'otu_ids': [944, 1795, 922, 2419, 2859, 943, 2722, 1167, 2651, 1314, 719, 2190, 2964, 296, 1169, 2782, 41, 2011, 728, 2539, 482, 2571, 2 ... (4609 characters truncated) ... ria;Actinobacteria;Actinomycetales;Corynebacteriaceae;Corynebacterium', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus']}}, {'names': 946, 'metadata': {'id': 946, 'ethnicity': 'Caucasian', 'gender': 'F', 'age': 42.0, 'location': 'Deerfield/MA', 'bbtype': 'I', 'wfreq': 3.0}, 'samples': {'id': '946', 'otu_ids': [1167, 2859, 2011, 41, 296, 909, 2782, 2722, 2964, 1314, 1169, 1286, 2190, 3459, 2571, 2419, 2908, 1200, 2318, 830, 482, 1189 ... (7137 characters truncated) ... acteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria']}}, {'names': 947, 'metadata': {'id': 947, 'ethnicity': 'Caucasian', 'gender': 'M', 'age': 49.0, 'location': 'ChapelHill/NC', 'bbtype': 'I', 'wfreq': 6.0}, 'samples': {'id': '947', 'otu_ids': [2419, 2722, 2859, 944, 2651, 1795, 3450, 922, 1167, 2964, 2539, 728, 2011, 41, 1314, 1169, 296, 2190, 2389, 909, 1286, 2318, ... (4963 characters truncated) ... teria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus']}}, {'names': 948, 'metadata': {'id': 948, 'ethnicity': 'Caucasian', 'gender': 'M', 'age': 20.0, 'location': 'ChapelHill/NC', 'bbtype': 'I', 'wfreq': None}, 'samples': {'id': '948', 'otu_ids': [728, 922, 2722, 943, 2419, 482, 2859, 1977, 883, 3643, 1189, 2011, 2264, 1167, 2782, 830, 3036, 3450, 2396, 2184, 1314, 41,  ... (4516 characters truncated) ... er', 'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales', 'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Actinomycetaceae;Varibaculum']}}  ... displaying 10 of 153 total bound parameter sets ...  {'names': 1581, 'metadata': {'id': 1581, 'ethnicity': 'Asian(American)', 'gender': 'F', 'age': 22.0, 'location': 'NC', 'bbtype': 'I', 'wfreq': 2.0}, 'samples': {'id': '1581', 'otu_ids': [1795, 3312, 1399, 3134, 3288, 3120, 151, 954, 3184, 531, 3064, 3541, 1929, 1600, 3232, 1921, 3131, 1785, 1386, 1052, 3327,  ... (1551 characters truncated) ... ', 'Bacteria;Proteobacteria;Betaproteobacteria;Burkholderiales', 'Bacteria;Fusobacteria;Fusobacteria;Fusobacteriales;Fusobacteriaceae;Fusobacterium']}}, {'names': 1601, 'metadata': {'id': 1601, 'ethnicity': 'Caucasian', 'gender': 'F', 'age': 22.0, 'location': 'NC', 'bbtype': 'I', 'wfreq': 2.0}, 'samples': {'id': '1601', 'otu_ids': [1929, 3030, 1795, 894, 1167, 1926, 3042, 1930, 944, 2419, 1924, 1849, 3395, 3029, 1917, 1927, 3450, 1925, 2651, 922, 1870,  ... (3630 characters truncated) ... ria;Actinobacteria;Actinobacteria;Actinomycetales;Micrococcaceae;Rothia', 'Bacteria;Firmicutes;Clostridia;Clostridiales;Veillonellaceae;Veillonella']}})]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [27]:
pd.read_sql_query('select * from bacteria', con=engine).head()

Empty DataFrame
Columns: [names, metadata, samples]
Index: []